.App {
  text-align: center;
}

.title {
  font-size: 46px;
}

.newTaskInput {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  width: 50%;
}

.addTask {
  margin: 10px;
  padding: 10px 18px;
  background-color: aquamarine;
}

.taskCount {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}
