body {
  background-color: aliceblue;
}

#anabaslik {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0px;
}

#kurulus {
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
}

#misyon {
  text-align: center;
}

.img1 {
  height: 250px;
  width: 250px;
}

.yazi1 {
  text-align: center;
}

footer {
  background-color: black;
}

footer h4 {
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
}

footer a {
  color: white;
  display: block;
  text-align: center;
  padding-bottom: 8px;
}

nav {
  margin: 30px;
  text-align: center;
}

nav a {
  background-color: black;
  color: white;

  /* border-width: 1px;
  border-style: solid;
  border-color: white; */

  border: 1px solid white;

  /* display: inline-block;
  width: 100px;
  height: 30px; */

  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  background-color: rgb(88, 87, 87);
  padding: 12px 22px;
  border: 3px solid white;
}

.bolumBaslik {
  text-align: center;
}

.bolumler {
  text-align: center;
  padding: 0px;
}

.bolumler li {
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 5px;
}

.resimler {
  text-align: center;
}

.resimler img {
  height: 200px;
  width: auto;

  border: 1px solid black;
}

.formIletisim {
  text-align: center;
}

.formIletisim input {
  margin: 5px;
}

.formIletisim button {
  margin: 5px;
  width: 100px;
}

.formIletisim h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.formIletisim h6 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0px;
}
