.App {
  text-align: center;
}

.input1 {
  text-align: center;
}

.valid {
  text-align: center;
  border: 2px solid green;
}

.notvalid {
  text-align: center;
  border: 2px solid red;
}

input:focus {
  outline: none;
}
