.App {
  text-align: center;
}

.App h1 {
  font-size: 44px;
  margin-bottom: 0px;
}

.App h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.App input {
  text-align: center;
  width: 30%;
  padding: 5px 8px;
}

.buttonSearch {
  padding: 15px 25px;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.buttonSearch:hover {
  background-color: rgb(53, 52, 52);
}
